name: Unit Tests

on:
  pull_request:
    paths:
      - ".github/workflows/unit-tests.yml"
      - 'extras/test/**'
      - 'src/**'

  push:
    paths:
      - ".github/workflows/unit-tests.yml"
      - 'extras/test/**'
      - 'src/**'

jobs:
  test:
    name: Run unit tests
    runs-on: ubuntu-latest

    env:
      BUILD_PATH: "${{ github.workspace }}/extras/test/build"

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Run unit tests
        run: |
          mkdir "$BUILD_PATH"
          cd "$BUILD_PATH"
          cmake ..
          make
          bin/testArduinoIoTCloud

      - name: Check code coverage
        run: |
          cd "$BUILD_PATH"
          sudo apt-get --assume-yes install lcov > /dev/null
          lcov --directory . --capture --output-file coverage.info
          lcov --quiet --remove coverage.info '*/extras/test/*' '/usr/*' '*/src/cbor/lib/*' --output-file coverage.info
          lcov --list coverage.info

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: "${{ env.BUILD_PATH }}/coverage.info"
          fail_ci_if_error: true
